// Place all the styles related to the subnotes_controller controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.subnote{
	font-size: 20pt;
	width: 100%;
	margin: 0 0 .5em 0;
	padding: 10.5px 21px;
}

.subnote:hover{
	background: #ddd;
}

.subnote textarea{
	margin: -10.5px -21px;
}


.markdown{
	h1{
		font-size: 2em;
	}
	h2{
		font-size: 1.5em;
	}
	h3{
		font-size: 1em;
	}
	h1, h2, h3{
		font-weight: bold;
	}
	
	
	ul{ 
		margin: 1em;
		li{
			list-style: disc;
			li{
				list-style: square;
				li{
					list-style: circle;
	}	}	}	}
	
	li ul, li ol{
		margin: 0 0 0 1em;
	}
	
	ol{ 
		margin: 1em;
		list-style: decimal;
	}

}